<hello name="{{ name }}"></hello>
<div>
  <form [formGroup]="UserDatailsForm" (ngSubmit)="onSubmit()">
    <div>
      First Name:
      <input
        type="text"
        class="col-md-6 form-control"
        formControlName="firstName"
        name="firstName"
      />
    </div>
    <br />
    <div>
      Last Name:
      <input
        type="text"
        class="col-md-6 form-control"
        formControlName="lastName"
        name="lastName"
      />
    </div>
    <br />
    <div>
      Age :
      <input
        type="text"
        class="col-md-6 form-control"
        formControlName="age"
        name="age"
      />
    </div>
    <br />
    <div>
      Email:
      <input
        type="text"
        class="col-md-6 form-control"
        formControlName="email"
        name="email"
      />
    </div>
    <br />
    <div>
      <button type="button" (click)="addFields()" class="btn btn-default">
        add fields
      </button>
    </div>
    <div formArrayName="addressData">
      <div
        *ngFor="
          let phase of this.UserDatailsForm.controls['addressData'].controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <span class="col-md-12" [formGroupName]="i">
          Address:<input
            type="text"
            class="col-md-6 form-control"
            name="address"
            formControlName="address"
          />
          Phone number:<input
            type="text"
            class="col-md-6 form-control"
            name="phoneNumber"
            formControlName="phoneNumber"
          />
          <button class="btn btn-default" (click)="removeRow(i)">Remove</button>
        </span>
      </div>
    </div>
    <br />
    <br />
    <div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>

  <div>
    <table class="table table-responsive" style="border:1px solid">
      <thead>
        <tr>
          <th>ID</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>age</th>
          <th>email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of userDetailsData; let i = index">
          <td>{{ val.id }}</td>
          <td>{{ val.firstName }}</td>
          <td>{{ val.lastName }}</td>
          <td>{{ val.age }}</td>
          <td>{{ val.email }}</td>
          <td>
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-default">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
